* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #4682B4;
    height: 5vh;
    text-align: center;
    align-items: center;
    padding: 10px;

    button{
        border-radius: 10px;
        height:3vh ;
        width: 10vh;
        background-color: antiquewhite;
    }
    input{
        border-radius: 8px;
        height:3vh ;
        width: 30vh;
        background-color: antiquewhite;
}
}

